$author_list_hover_color: #f5f5f5;
$edit_btn_color: #ef921b;
$trash_btn_color: #9d292a;

li{
  //padding-top: 2px;
  list-style-type:none;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: x-large;
  font-weight: 400;

  .trash-btn, .edit-btn {
    display: none;
  }
  .author-list-line .author-btn-container{

  }

  &:hover{
    .edit-btn{
      display: inline;
      cursor: pointer;
      color: $edit_btn_color;
    }
    .trash-btn{
      display: inline;
      color: $trash_btn_color;
      cursor: pointer;
    }
    background-color: $author_list_hover_color;
  }

}