@import "../common-variables";

.author-list-line {
  .author-list-line-btn-container {
    float: right;
    padding-right: 1px;
    .edit-btn {


    }
  }
}


li {
  list-style-type: none;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: x-large;
  font-weight: 400;

  .trash-btn, .edit-btn {
    display: none;
  }

  &:hover {
    .edit-btn {
      display: inline;
      cursor: pointer;
      color: $edit_btn_color;
    }

    .trash-btn {
      display: inline;
      color: $trash_btn_color;
      cursor: pointer;
    }

    background-color: $author_list_hover_color;
  }

}