.create-author-title{
  font-size: 20px;
}
.create-author-title-xcircle{
  cursor: pointer;
  float:right;
  color: black;
}
.author-name-label{
  font-size: 0.9em;
}
.create-form{
  margin-top: 1em;
}
.create-btn{
  margin-top: 1em;
  float: right;
}