
.add-author-title{
  padding: 25px;
}
.add-author-plus{
  cursor: pointer;
}
.author-title{
  *:hover {
    //color: black;
    text-decoration: none !important;
  }
}
body{
  //align-content: end;
}
.create-author-title{
  color:darkgreen;
  text-decoration: underline;
  font-size: large;
}

