$title_font_color: #2c302f;

.books-title{
  font-size: 2em;
  font-weight: 500;
  border-bottom: 2px solid $title_font_color;
  padding-left: 0;
  margin-bottom: 0.7em;
  margin-top: 0.3em;
}
.add-book-plus {
  cursor: pointer;
}
.add-book-xcircle {
  cursor: pointer;
}