// Add Book Form
$cb_title_color: #084732;
$input_field_border_color: #959595;
$create_btn_color: #00579c;

// Author List Line
$author_list_hover_color: #f5f5f5;
$edit_btn_color: #ef921b;
$trash_btn_color: #9d292a;

$title_font_color: #2c302f;
$title_font_color: #2c302f;

// Library scss
$title_font_color: #253439;
$credits_font_color: #2d2d2d;

// Update Book
$ub_title_color: #084732;
$input_field_border_color: #959595;
$update_btn_color: #00579c;